@model Hospital_System.Models.MedicalSpecialty

@{
	ViewData["Title"] = "Delete";
}


<h2 class="alert alert-danger text-center">You Are sure delete this doctor?</h2>
<div>
	@* <h4>MedicalSpecialty</h4> *@
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Name)
		</dd>
	</dl>

	<form asp-action="Delete" class="col-md-3">
		<input type="hidden" asp-for="Id" />
		<input type="submit" value="Delete" class="btn btn-danger m-2  col-4" />
		<a asp-action="Index" class="btn btn-secondary m-2  col-4">Back to List</a>
	</form>
</div>
